X_BEARER_TOKEN=XXXX
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxx/yyyy/zzzz
HERMES_PROFILE=researcher
SLACK_USERNAME=x-resercher
SLACK_ICON_EMOJI=:newspaper:
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=company-data
S3_FORCE_PATH_STYLE=true
